
<body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto"></header>
  <main class="px-3">
    <div class="thisisegypt">
      This is Egypt!
    </div>
    <div class="lead, aim">
      Aim:
    </div>
    <p class="lead aimcontent">The aim of this website is to inform visitors about tourism in Egypt. The Cities tab provides a brief summary of Egyptian cities and available attractions, while the weather tab will tell you about weather in certain areas. If visitors have a technical idea about tourism in egypt they may submit it to the tech ideas form. </p>
    
  </main>
  <footer class="mt-auto"></footer>
  
</div>


    
  

</body>
