<form [formGroup]="userForm" (ngSubmit)="find_Name()">
  <ion-item fill="solid" color="tertiary" class="textInput">



    <ion-label position="floating">Search by Name:</ion-label>
    <ion-input placeholder="Enter Date" inputmode="name" type="name" class="form-control" formControlName="name" id="name" ngModel name></ion-input>

  </ion-item>
  <ion-button color="secondary" type="button" (click)="find_Name()">Find by Name</ion-button><ion-button color="secondary" type="button" (click)="reset()">Clear Filter</ion-button>
</form>


<ion-accordion-group [multiple]="true">
  <div *ngFor="let inventory_item of inventorys">
    <app-inventory [inventory]="inventory_item"></app-inventory>
  </div>
</ion-accordion-group>
