<ion-accordion >
  <ion-item slot="header" color="tertiary" >
   
      
        <ion-label>{{inventory.name}}</ion-label>
 
        <ion-label class="ion-text-right">{{inventory.quantity}}&nbsp;</ion-label>
        <ion-label> {{inventory.quantity_type}}</ion-label>
     
  
  </ion-item>
  <ion-item [ngClass]="{'warning': inventory.intended_sale_price < inventory.price}" color="tertiary" class="ion-padding labelLayout" slot="content">
    <div class="inventoryLayout">
      <div>Item ID: {{inventory.item_id}}</div>
      <div>Item SKU: {{inventory.SKU}}</div>
      
      <div>Price:    {{inventory.price | currency: 'CAD'}}</div>
      <div>Intended Sale Price: {{inventory.intended_sale_price | currency: 'CAD'}}</div>
      <div><ion-button color=secondary routerLink="add/{{inventory.item_id}}">Add More</ion-button></div>
      <div><ion-button color="secondary" routerLink="record/{{inventory.item_id}}">Record Sale</ion-button></div>
    </div>
  </ion-item>
</ion-accordion>
