ion-accordion{
   
}

.labelLayout{
    display: grid;
    grid-template-columns: 1fr;
}

.inventoryLayout{
    display:grid !important;
    width:100%;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr ifr !important;
    align-items: center !important;
}

.warning{
    color: red;
}
