<ion-header>
  <ion-toolbar>
    <ion-title>Add More Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        Item ID: {{item_id}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="inventory">
      <ion-label>
        Item Name: {{inventory.name}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="inventory">
      <ion-label>
        Quantity: {{inventory.quantity}}
      </ion-label>
    </ion-item>
  </ion-list>
  
  


  <form [formGroup]="userForm" (ngSubmit)="add_inventory()">
  <ion-item fill="solid" color="primary">



    <ion-label position="floating">Quantity added:</ion-label>
    <ion-input placeholder="Enter how many additional items to stock" inputmode="decimal" type="number" class="form-control" formControlName="quantity" id="quantity" ngModel quantity></ion-input>

    <ion-note *ngIf="quantity?.errors?.['required'] && quantity?.touched" color="secondary" slot="error"> quantity is Required</ion-note>
    <ion-note *ngIf="quantity?.errors?.['min'] && quantity?.touched" color="secondary" slot="error"> quantity cannot be less than 0</ion-note>
  </ion-item>

   <ion-item fill="solid" color="primary">
      <ion-label position="floating">Price:</ion-label>
      <ion-input placeholder="Enter the Price (cost paid) of the new items. (Enter 0 if just intending to change intended sale price.)" inputmode="decimal" type="number" class="form-control" formControlName="price" id="price" ngModel price></ion-input>

      <ion-note *ngIf="price?.errors?.['required'] && price?.touched" color="secondary" slot="error"> Item Price is Required</ion-note>
      <ion-note *ngIf="price?.errors?.['min'] && price?.touched" color="secondary" slot="error"> price cannot be less than 0</ion-note>
  </ion-item>
  <ion-item fill="solid" color="primary">
      <ion-label position="floating">Intended Sale Price</ion-label>
      <ion-input placeholder="Enter the Intended Sale Price (per item)" inputmode="decimal" type="number" class="form-control" formControlName="intended_sale_price" id="intended_sale_price" ngModel intended_sale_price></ion-input>


      <ion-note *ngIf="intended_sale_price?.errors?.['required'] && intended_sale_price?.touched" slot="error"> Intended Sale Price is Required</ion-note>
      <ion-note *ngIf="intended_sale_price?.errors?.['min'] && intended_sale_price?.touched" slot="error"> Intended Sale Price cannot be less than 0</ion-note>
    </ion-item>


    <ion-button color="secondary" type="button" (click)="add_inventory()" [disabled]="userForm.invalid">Submit</ion-button>
  </form>
</ion-content>
