<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="home" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a routerLink="cities" class="nav-link px-2 text-muted">Cities</a></li>
      <li class="nav-item"><a routerLink="weather" class="nav-link px-2 text-muted">Weather</a></li>
      <li class="nav-item"><a routerLink="techideas" class="nav-link px-2 text-muted">Tech Ideas</a></li>
    </ul>
    <p class="text-center text-muted">Proudly Made by {{myName}}!</p>
  </footer>
</div>
